In [ ]:
//wrte a python program to remove the duplicates items from the list

In [2]:
size_of_list=int(input())
list_1=list(map(int,input().split()))
print("list",list_1)
b=[]
unique = []
for x in list_1:
    if x not in b:
        unique.append(x)
        b.append(x)
print("Non-duplicate items:")
print(unique)

5
10 20 30 20 10
list [10, 20, 30, 20, 10]
Non-duplicate items:
[10, 20, 30]

In [ ]:
//write a python program to swap the first and last value of the list

In [1]:
size_of_list_1=int(input())
list_1=list(map(int,input().split()))
list_1[0]=list_1[0]+list_1[-1]
list_1[-1]=list_1[0]-list_1[-1]
list_1[0]=list_1[0]-list_1[-1]
print(list_1)

5
12 6 26 10 67
[67, 6, 26, 10, 12]

In [ ]:
//looping

In [1]:
Tuple=('hello')
n=3
for i in range(int(n)):
  Tuple=(Tuple,)
  print(Tuple)

('hello',)
(('hello',),)
((('hello',),),)

In [2]:
tuple = ('developer',5,8.9,'r',8)
print(len(tuple))

5

In [3]:
tuple = (9,5,89,4,8)
print(max(tuple))

89

In [4]:
tuple = (9,5,89,4,8)
print(min(tuple))

4

In [5]:
tuple = (9,5,89,4,8)
print(sorted(tuple))

[4, 5, 8, 9, 89]

In [6]:
tuple = (0,1)
print(any(tuple))

True

In [7]:
tuple = (0,)
print(max(tuple))

0

In [8]:
tuple = (4,1)
print(all(tuple))

True

In [9]:
tuple = (0,5,7)
print(all(tuple))

False

In [10]:
tuple = ()
print(all(tuple))

True

In [11]:
tuple=("apple","byte","computer")
n=2
for i in range(n):
  print(tuple[i])

apple
byte

In [12]:
tuple = (3,7,'p',9,9)
print(tuple.count(9))

2

In [13]:
tuple = (3,7,'p',9,9)
print(tuple.index(9))

3

In [ ]:
//creating tuple

In [18]:
value_tuple = (26,45,'hello')
value=("a",)
type(value)
tuple

(3, 7, 'p', 9, 9)

In [19]:
value_tuple = (26,45,'hello')
value=("a")
type(value)
tuple

(3, 7, 'p', 9, 9)

In [20]:
value_tuple = (26,45,'hello',7.5)
value_tuple

(26, 45, 'hello', 7.5)

In [21]:
value_tuple[2]='python'

TypeError: 'tuple' object does not support item assignment

In [22]:
value1_tuple=(26,46,'hello')
value2_tuple=7,5.6,"python"
value_3=value1_tuple+value2_tuple
value_3

(26, 46, 'hello', 7, 5.6, 'python')

In [23]:
value1_tuple=value1_tuple+(7,)
value_tuple

(26, 45, 'hello', 7.5)

In [24]:
converted_list=list(value1_tuple)
converted_list

[26, 46, 'hello', 7]

In [25]:
converted_list.append(7)
converted_list

[26, 46, 'hello', 7, 7]

In [28]:
value1_tuple=tuple(converted_list)
value1_tuple

TypeError: 'tuple' object is not callable

In [ ]:
//repetition in tuples

In [30]:
value_tuple = (26,45,'hello','python')
value_tuple

(26, 45, 'hello', 'python')

In [ ]:
//write a python program to get tupe values from the user and print it

In [1]:
value=()
n=int(input())
list_1=[]
for i in range(n):
    list_1.append(int(input()))
    value=tuple(list_1)

4
12
10
26
6

In [1]:
a=(10,20,30)
b=list(a)
b.append(7)
x=tuple(b)
x

(10, 20, 30, 7)

In [4]:
user = input("Enter integer ")


usertuple = tuple(map(int, user.split(',')))


print("Your tuple of integers:", usertuple)

Enter integer 1,2,3,4
Your tuple of integers: (1, 2, 3, 4)

In [ ]:
//accessing values in tuple

In [5]:
number=("One","Two","Three","Four")
i=0
while i<len(number):
  print(number[i])
  i+=1

One
Two
Three
Four

In [6]:
number=("One","Two","Three","Four")
for i in number:
    print(i)

One
Two
Three
Four

In [ ]:
//value_tuple = (26,12,10,6,67,91,45,'hello',7.5,99,7,"Name")

In [10]:
value_tuple=(26,12,10,6,67,91,45,'hello',7.5,99,7,"Name")
print(value_tuple[6])
value_tuple[-6]

45

45

In [ ]:
//unpacking

In [13]:
numbers=("one","two","three","four")
(a,b,c,d)=numbers
print(a)

one

In [14]:
numbers=("one","two","three","four")
(a,b,c,d)=numbers
print(a,b,c,d)

one two three four

In [15]:
numbers=("one","two","three","four")
(a,*b,c)=numbers
print(a)
print(*b)
print(c)

one
two three
four

In [ ]:
//built in functions

In [ ]:
//looping in set //set is unindx so to loop we use membrshp(in)

In [16]:
value_set={2,'PYTHON','a',5,9.4}
for i in value_set:
  print(i)

2
a
5
PYTHON
9.4

In [17]:
value_set={2,'PYTHON','a',5,9.4}
print(7 in value_set)

False

In [19]:
value_set={2,'PYTHON','a',5,9.4}
print('PYTHON' in value_set)

True

In [22]:
value_set={2,'PYTHON','a',5,9.4}
value_set.add("apple")
print(value_set)

{2, 'a', 5, 'PYTHON', 9.4, 'apple'}

In [ ]:
//get the length of set

In [24]:
value_set={2,'PYTHON','a',5,9.4}
print(len(value_set))

5

In [26]:
value_set={2,'PYTHON','a',5,9.4}
value_set.remove('PYTHON')
print(value_set)

{2, 'a', 5, 9.4}

In [27]:
value_set={2,'PYTHON','a',5,9.4}
value_set.discard('PYTHON')
print(value_set)

{2, 'a', 5, 9.4}