In [1]:
a=[10,20,30,40]

In [ ]:
//what is the way to print all the elements in the list?

In [4]:
for i in a:
    print(i,end=" ")

10 20 30 40

In [5]:
a = [10, 20, 30, 40]
i = 0

while i < len(a):
    print(a[i])
    i += 1

10
20
30
40

In [ ]:
//how to check wheather the element is present in the list or not?

In [ ]:
//ex: need to check whether element 30 is present in the above list or not

In [10]:
for i in a:
    if i==30:
        print("Value found")
        break
else:
        print("value not found")

Value found

In [ ]:
//by using membership optr in and not in

In [14]:

a = [10, 20, 30, 40]

if 30 in a:
    print("30 is present in the list.")
else:
    print("30 is not present in the list.")

30 is present in the list.

In [12]:
a = [10, 20, 30, 40]

if 50 not in a:
    print("50 is not present in the list.")
else:
    print("50 is present in the list.")

50 is not present in the list.

In [15]:
30 in a

True

In [ ]:
write a python code to find the index value of a number 30 in the list a(a=[10,20,30,40]) //print(a[i])..>30//print(i)...>index value

In [16]:
for i in range(len(a)):
    if a[i]==30:
        print(i)
        break

2

In [ ]:
//Is it possible without the loop?

In [ ]:
//we can make use of indexing

In [ ]:
//lets assum tht
item=[10,20,30,40,50,60,70,80]
what will be the index value of 80?

In [19]:
items=[10,20,30,40,50,60,70,80]
print(items.index(80))

7

In [20]:
a=[10,20,30,40,50,60,70,80,90,11,22,33,44,55,66,77,88,99]
len(a)

18

In [21]:
a[len(a)-1]

99

In [ ]:
//REVERS INDEX

In [22]:
a=[10,20,30,40,50,60,70,80,90,11,22,33,44,55,66,77,88,99]
a[-4]

66

In [23]:
a[-12]

70

In [25]:
list_1=[1,2,12,6,10,67,12,33,44,66,88,99,85,44,55,66,88,112,33]
list_1[-19]

1

In [26]:
list_1[-len(list_1)]

1

In [27]:
information=[1,"ABC",89.9,'a']
print(information)

[1, 'ABC', 89.9, 'a']

In [ ]:
//how to get a particular element in the list?

In [28]:
information[1]

'ABC'

In [30]:
information=[1,"ABC",89.9,'a']
information.append("nethu")
print(information)

[1, 'ABC', 89.9, 'a', 'nethu']

In [31]:
information=[1,"ABC",89.9,'a']
information+=("nethu")
print(information)

[1, 'ABC', 89.9, 'a', 'n', 'e', 't', 'h', 'u']

In [33]:
information=[1,"ABC",89.9,'a']
information*=2
print(information)

[1, 'ABC', 89.9, 'a', 1, 'ABC', 89.9, 'a']

In [34]:
information

[1, 'ABC', 89.9, 'a', 1, 'ABC', 89.9, 'a']

In [ ]:
//mutabl=change

In [35]:
information[1]="xyz"

In [36]:
information

[1, 'xyz', 89.9, 'a', 1, 'ABC', 89.9, 'a']

In [ ]:
//SLICING OPRTR

In [ ]:
//how to access the first three elements?

In [37]:
information[0:3]

[1, 'xyz', 89.9]

In [38]:
information[:0]

[]

In [39]:
information[:1]

[1]

In [40]:
information[:2]

[1, 'xyz']

In [41]:
information[:3]

[1, 'xyz', 89.9]

In [42]:
information[1:]

['xyz', 89.9, 'a', 1, 'ABC', 89.9, 'a']

In [43]:
information[::4]

[1, 1]

In [49]:
information[1:6:2]

['xyz', 'a', 'ABC']

In [45]:
information[::3]

[1, 'a', 89.9]

In [46]:
information[::-1]//-1 reversing indx

['a', 89.9, 'ABC', 1, 'a', 89.9, 'xyz', 1]

In [ ]:
//student_list

In [52]:
student_2=[2,"STU",8.58,"Female","India","9876543210"]
student_2[::-1]

['9876543210', 'India', 'Female', 8.58, 'STU', 2]

In [53]:
student_2=[2,"STU",8.58,"Female","India","9876543210"]
student_2[::-3]

['9876543210', 8.58]

In [54]:
student_2=[2,"STU",8.58,"Female","India","9876543210"]
student_2[::2]

[2, 8.58, 'India']

In [ ]:
//write a python program to create a list of 100 elemt,where all the  entries are sme num,and the numbr is given by the user

In [1]:
num = int(input("Enter the number: "))
result_list = [num] * 100
print(result_list)

Enter the number: 5
[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5]

In [ ]:
//Write a python code to create a list of first 10 odd elements without using decision making statements

In [5]:
odd_numbers = list(range(1, 20, 2))
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
//Write a python code to create a list of 1 to 10 odd elements and from the list created,create another list with only odd values

In [3]:
numbers = list(range(1, 11))
odd_numbers = [num for num in numbers if num % 2 != 0]
print("List of numbers from 1 to 10:", numbers)
print("List of odd numbers:", odd_numbers)

List of numbers from 1 to 10: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List of odd numbers: [1, 3, 5, 7, 9]

In [6]:
or//
list1=list(range(1,11))
odd = list1[::2]
print(list1)
print(odd)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [ ]:
//Write a python code to create a list of 1 to 10 odd elements and from the list created,create another list with only even values

In [4]:
numbers = list(range(1, 11))
even_numbers = [num for num in numbers if num % 2 != 0]
print("List of numbers from 1 to 10:", numbers)
print("List of odd numbers:", even_numbers)

List of numbers from 1 to 10: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List of odd numbers: [1, 3, 5, 7, 9]

In [7]:
or//
list1=list(range(1,11))
even = list1[1::2]
print(list1)
print(even)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]

In [ ]:
//CONCATENATIONS

In [13]:
list_1=['a','b','c','d']
print(list_1)
list_2=['python','list']
print(list_2)

['a', 'b', 'c', 'd']
['python', 'list']

In [ ]:
////write a python code to create a list, which extracts elements from the string given by the user

In [12]:
string = input("Enter a string: ")
list_1 = list(string)
print(list_1)

Enter a string: anu
['a', 'n', 'u']

In [ ]:
//appending and extending ellmnt//

//write a python program to get the input from the user for creating two lists and add the elements of one list into the other.

In [14]:
def create_list(prompt):
    user_input = input(prompt).split()
    return [int(x) for x in user_input]
list1 = create_list("Enter the elements of the first list (space-separated): ")
list2 = create_list("Enter the elements of the second list (space-separated): ")
combined_list = list1 + list2
print("Combined list:", combined_list)

Enter the elements of the first list (space-separated): 2
Enter the elements of the second list (space-separated): 4
Combined list: [2, 4]

In [ ]:
Assignment:
    Explain: map(int,input().split()) with suitable example.//tusdy//pic//blubook//

In [ ]:
The method map(int, input().split()) is a handy way to process input from the user in Python,
especially when you need to convert space-separated strings into integers.

In [ ]:
input(): This function reads a line of input from the user as a string.

split(): This method splits the input string into a list of substrings based on whitespace.

map(int, ...): The map() function applies the int function to each element of the list (created by split()), converting each substring to an integer.



Example:
Suppose you want to input a list of space-separated integers from the user:

user_input = input("Enter space-separated integers: ")
int_list = list(map(int, user_input.split()))
print("List of integers:", int_list)


Example Execution:

Enter space-separated integers: 10 20 30 40
List of integers: [10, 20, 30, 40]
So, this method efficiently converts user input into a list of integers, ready for further processing. Cool, right? 🎉

In [16]:
user_input = input("Enter space-separated integers: ")
int_list = list(map(int, user_input.split()))
print("List of integers:", int_list)

Enter space-separated integers: 5
List of integers: [5]

In [4]:
def find_max_number(numbers):
    if not numbers:
        return None
    max_number = numbers[0]
    for number in numbers[1:]:
        if number > max_number:
            max_number = number
            return max_number

In [3]:
numbers = [12, 45, 67, 23, 89, 34, 66, 99, 25]
max_number = max(numbers)
print("The maximum number in the list is:", max_number)

The maximum number in the list is: 99

In [5]:
numbers = [12, 45, 67, 23, 89, 34, 66, 99, 25]
unique_numbers = list(set(numbers))
unique_numbers.sort(reverse=True)
if len(unique_numbers) >= 2:
    second_largest = unique_numbers[1]
    print("The second largest number in the list is:", second_largest)
else:
    print("The list does not have enough unique numbers to determine the second largest.")

The second largest number in the list is: 89

In [1]:
def find_maximum(numbers):
    if not numbers:
        return None  # Return None if the list is empty
    maximum = numbers[0]
    for num in numbers:
        if num > maximum:
            maximum = num
    return maximum

# Example usage
numbers = [3, 5, 2, 8, 1]
print("The maximum number is:", find_maximum(numbers))

The maximum number is: 8

In [4]:
def find_maximum(numbers):
    if not numbers:
        return None  
    maximum = numbers[0] 
    for number in numbers:
        if number > maximum:
            maximum = number
            return maximum
        numbers = [3, 5, 1, 8, 2]
        max_number = find_maximum(numbers)
        print("The maximum number in the list is:",max_number)

In [5]:
def find_maximum(numbers):
    if not numbers:
        return None  # Return None if the list is empty
    maximum = numbers[0]  # Initialize maximum with the first element
    for number in numbers:
        if number > maximum:
            maximum = number  # Update maximum if a larger number is found
    return maximum

# Example usage
numbers = [3, 5, 1, 8, 2]
max_number = find_maximum(numbers)
print("The maximum number in the list is:", max_number)

The maximum number in the list is: 8

In [12]:
if not numbers:
largest_even = largest_odd = None
for num in numbers:
    if num % 2 == 0:
        if largest_even is None or num > largest_even:
            largest_even = num
        else:
                if largest_odd is None or num > largest_odd:
                    largest_odd = num
                return largest_even, largest_odd
                my_list = [10, 5, 20, 15, 8, 25]
                even_max, odd_max = find_largest_even_odd(my_list)
                print("Largest even number:", even_max)
                print("Largest odd number:", odd_max)

IndentationError: expected an indented block after 'if' statement on line 1 (1197495567.py, line 2)

In [13]:
# Define the list of numbers
numbers = [12, 45, 67, 23, 89, 34, 66, 99, 25, 72]

# Initialize variables to store the largest even and odd numbers
largest_even = None
largest_odd = None

# Iterate through the list to find the largest even and odd numbers
for num in numbers:
    if num % 2 == 0:  # Check if the number is even
        if largest_even is None or num > largest_even:
            largest_even = num
    else:  # The number is odd
        if largest_odd is None or num > largest_odd:
            largest_odd = num

# Print the results
if largest_even is not None:
    print("The largest even number in the list is:", largest_even)
else:
    print("There are no even numbers in the list.")

if largest_odd is not None:
    print("The largest odd number in the list is:", largest_odd)
else:
    print("There are no odd numbers in the list.")

The largest even number in the list is: 72
The largest odd number in the list is: 99

In [ ]:
Write a program to find the maximum number in a list

In [6]:
user_input = input("Enter space-separated integers: ")
numbers = list(map(int, user_input.split()))
max_number = max(numbers)
print("The maximum number in the list is:", max_number)

Enter space-separated integers: 1 7 2 5 -1
The maximum number in the list is: 7

In [8]:
numbers = [1, 7, 2, 5, -1]
stringified = list(map(str, numbers))
print(max(stringified))

7

In [11]:
n=int(input())
map(int,input().split())

1 7 2 5 -1

ValueError: invalid literal for int() with base 10: '1 7 2 5 -1'

In [12]:
x="hi how are you"
words=x.split()
print(words)

['hi', 'how', 'are', 'you']

In [ ]:
Write a program to find the sum of element in a list

In [10]:
user_input = input("Enter space-separated integers: ")
numbers = list(map(int, user_input.split()))
total_sum = sum(numbers)
print("The sum of the elements in the list is:", total_sum)

Enter space-separated integers: 3 10 20 30
The sum of the elements in the list is: 63

In [13]:
M=input("enter some values:").split()
print(max(M))

enter some values:1 7 2 5 -1
7

In [20]:
N=int(input())
map(int,input().split())

20
20

In [ ]:
write a program to find the number of distinct elements in a list

In [19]:
numbers = [3,2,3,780,90]
distinct_numbers = set(numbers)
num_distinct_elements = len(distinct_numbers)
print("The number of distinct elements in the list is:", num_distinct_elements)

The number of distinct elements in the list is: 4

In [26]:
x,y=[int(x) for x in input().split()]
print("First Number is:",x)
print("second Number is:",y)

5 20
First Number is: 5
second Number is: 20

In [29]:
x,y=[int(x) for x in input().split()]
print("Number of list is:",x)

4 6
Number of list is: 4

In [ ]:
//Write a python program to get the input from the user for creating two lists and add the elemnts of one list into the other

In [1]:
size_of_list_1=int(input())
list_1=[]
for i in range(size_of_list_1):
    list_1.append(int(input()))
    print(list_1)

4
12
[12]
26
[12, 26]
10
[12, 26, 10]
6
[12, 26, 10, 6]

In [2]:
x="Hi,How are you"
x.split()

['Hi,How', 'are', 'you']

In [5]:
x="Hi,How are you"
list(map(int,input().split()))

123

[123]

In [12]:
a=int(input())
b=list(map(int,input().split()))
print(max(b))

5
12 26 10 67 99
99

In [ ]:
//write a python program to find the second largest number in the list

In [14]:
a=int(input())
b=list(map(int,input().split()))
b.sort()
print(b[-2])

5
12 99 45
45

In [18]:
size_of_list_1=int(input())
list_1=[]
for i in range(size_of_list_1):
    list_1.append(int(input()))
print(list_1)

size_of_list_2=int(input())
list_2=[]
for i in range(size_of_list_2):
    list_2.append(int(input()))
    
print(list_2)

5
6
7
8
9
0
[6, 7, 8, 9, 0]
5
1
2
3
4
5
[1, 2, 3, 4, 5]

In [ ]:
//writ a python code to create a list of 1 to 10 elements and from the list creaetd,create anothor list with only add values

list_1=list(range(1,11))
odd = list1[::2]
print(list1)
print(odd)

In [ ]:
list_1=list(range(1,11))
odd = list1[::2]
print(list1)
print(odd)

In [ ]:
//writ a program to largest even and largest odd

In [16]:
n=int(input())
b=[]
for i in range(n):
    a=int(input())
    b.append(a)
c=[]
d=[]
for i in b:
    if(i%2==0):
        c.append(i)
    else:
        d.append(i)
c.sort()
d.sort()
print("Largest even number:",c[-1])
print("Largest odd number:",d[-1])

5
1
6
5
3
4
Largest even number: 6
Largest odd number: 5

In [ ]:
//write a python program to find the union of two list

a=list(map(int,input().split())
b=list(map(int,input().split())
union = list(set().union(a,b))
print('The union of two lists is:',union)

In [21]:
a=list(map(int,input().split()))
b=list(map(int,input().split()))
union = list(set().union(a,b)) 
print('The union of two lists is:',union)

1 2 3
3 4 5
The union of two lists is: [1, 2, 3, 4, 5]

In [ ]:
//Write a program to print the number of repeated elements in a list any one is fin chnge numbr

In [2]:

numbers = [5,3,3,3,78,90]

frequency = {}


for num in numbers:
    if num in frequency:
        frequency[num] += 1
    else:
        frequency[num] = 1


repeated_elements = {key: value for key, value in frequency.items() if value > 1}


print("Repeated elements and their counts:", repeated_elements)
print("The number of repeated elements:", len(repeated_elements))

Repeated elements and their counts: {3: 3}
The number of repeated elements: 1

In [4]:
numbers = [3,1,2,3]
from collections import Counter
element_counts = Counter(numbers)
repeated_elements = {key: value for key, value in element_counts.items() if value > 1}
print(f"Number of repeated elements: {len(repeated_elements)}")
print("Repeated elements and their counts:", repeated_elements)

Number of repeated elements: 1
Repeated elements and their counts: {3: 2}